.loader {
  width: 100vw;
  height: 100vh;
}

.loader > div {
  width: 100px;
  height: 100px;
  border-bottom: 5px solid black;

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotate(-360deg);
  }
}
